
    /*
        LESS/CSS for Teplomaster
        compile to css: http://less2css.org/
        im@andreystarkov.ru
    */

    @import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic);
    @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic);

    @color-red: rgb(242,117,107);
    @color-green: rgb(140,188,42);
    @color-blue: rgb(0,113,170);
    @color-orange: rgb(255,161,21);
    @color-pink: #cb2b45;
    @color-green-block: rgba(138,189,14,0.8);
    @color-orange-block: rgba(230,120,23,0.8);

    @font-size-text: '14px';

    body {

        h1,h2,h3,p {
            font-family: 'Open Sans';

        }

        font-family: 'Open Sans';
        background: url(../images/bg.jpg) top center no-repeat;
        padding-bottom: 30px;

        a {
            transition: 0.4s ease-in all;

        }

    }

    @import "less/common.less";
    @import "less/home.less";
    @import "less/news.less";
    @import "less/about.less";
    @import "less/catalog.less";
    @import "less/profile.less";
    @import "less/cart.less";
    @import "less/portfolio.less";
    @import "less/footer.less";



