
    /*
        LESS/CSS for Teplomaster
        compile to css: http://less2css.org/
        im@andreystarkov.ru
    */

    @import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic);
    @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic);

    @color-blue-menu: rgba(44,134,180,0.5);
    @color-blue-block: rgba(126,182,211,0.8);
    @color-blue-2: rgba(0,113,170,0.8);

    @color-green-block: rgba(138,189,14,0.8);
    @color-orange-block: rgba(230,120,23,0.8);

    .container { width: 1170px !important;
        margin-left: auto;
        margin-right: auto;
    }

    body {
        font-family: 'Open Sans';
        background: url(../images/bg.jpg) top center no-repeat;
        padding-bottom: 100px;
        a {
            transition: 0.4s ease-in all;
        }
    }

    .three-sliders {
        .row {
            text-align: center;
            width: 1170px;
            margin-left: 0;
            margin-right: 0;
            .col-xs-4 {
                padding-left: 0;
                width: 360px;
                padding-right:0;
                margin-right: 40px;
            }
            .col-xs-4:last-child {
                margin-right: 0;
            }
            ul {

                .col-xs-2:first-child {
                    padding-left: 0px;
                }
            }
        }
    }

    .nav-tabs { border-bottom: 3px solid #000; }

    .top-menu {

        background: @color-blue-menu;
        height: 45px;
        width: 1170px;

        .basket:hover {
            background: url(../images/basket-big.png) 10px center no-repeat, rgba(255,255,255,0.3);
            box-shadow: -1px 0 3px rgba(0,0,0,0.1)
        }

        .basket {
            font-family: 'PT Sans';
            padding-top: 4px;
            position: absolute;
            right: 0;
            top: 0;
            cursor: pointer;
            width: 170px;
            height: 100%;
            transition: 0.3s ease-in all;
            padding-left: 45px;
            background: url(../images/basket-big.png) 10px center no-repeat;

            b { display: block; font-weight: 600; font-size: 14px; }
            i { font-style: normal; font-size: 14px; }

            img { position: absolute; right:0; top: 0;
                height: 48px; }
        }

        a {
            color: #222;
            font-size:16px;
            font-weight:500;
        }

        a:hover { background-color: rgba(255,255,255,0.3); }
        a.active { background: #2484b4; }
        .active>a { background-color: #2484b4; color: #fff; }

    }

    .box-header {

        position: relative;
        height: 260px;
        background: rgba(255,255,255,0.8);

        .btn-catalog.active {
            background: #cb2b45;
        }

        .popup-catalog {

            .nav-tabs, .nav { margin-top: 10px; }

            padding-top: 30px;
            display: none;
            position: absolute;
            z-index: 60;
            min-width: 450px;
            min-height: 190px;
            background: #fff;
            border: 1px solid #ddd;
            left: 0;
            padding: 0px;
            top: 55px;
            box-shadow: 0 3px 18px rgba(0,0,0,0.25);

            .box-icons .col-xs-2 {
                text-align: center;
              }

            .accordion {
                padding-bottom: 10px;
                margin-top: 15px;
                margin-bottom:15px;

                dd:last-child {
                    a {

                    }
                }

                dd {
                    .parent {
                        background: mix(rgba(126,182,211,0.15), rgba(0,0,0,0.1));
                    }
                }

                dd a:hover {
                    box-shadow: inset 0 -3px 30px rgba(0,0,0,0.25);
                }

                dd a {
                    padding-left: 15px;
                    line-height: 1.2;
                    font-size: 16px;
                    transition: 0.35s ease-in all;
                }

                dd a i { color: rgba(0,0,0,0.8); }

                dt a i {
                    margin-right: 15px;
                    box-shadow: inset 0 -2px 6px rgba(0,0,0,0.2);
                    color: #fff;
                }

                dt a:hover {
                    background: mix(rgba(126,182,211,0.2), rgba(0,0,0,0.1));
                }

                dt, dd {

                    border-bottom: 0;

                    a:last-child {border-bottom: 0 !important; }

                    a {
                        display: block;
                        color: black;
                        padding: 10px 15px 10px 15px;
                        border-bottom: 1px dashed #eee;
                        font-size: 16px;
                        text-decoration: none;
                        font-weight: 500;
                        transition: 0.35s ease-in all;

                        i { line-height: 1.2; padding: 2px 5px 1px 5px; display: inline-block;
                            float: left; font-size: 16px; margin-right: 10px;
                            background: transparent; color: #666;
                            border-radius: 10px;
                        }

                        .happy i {
                            color: #fff;
                            border-right: 2px dotted gray;
                        }
                    }

                    a:hover {
                        box-shadow: inset 0 -0px 6px rgba(0,0,0,0.1);
                        color: #000;
                    }

                    a.active {
                        background: rgba(44, 134, 180, 0.7);
                        box-shadow: inset(0,0,0,0.15);
                        color: #fff;
                        text-shadow: 1px 2px 3px rgba(0,0,0,0.35);
                        i { color: #fff; }
                    }
                }

                dd {
                    border-top: 0;
                    font-size: 16px;

                    &:last-of-type {
                        border-top: 1px solid white;
                        position: relative;
                        top: -1px;
                   }
                }
            }

            .nav {
                border: 0;
                li a { border: 0; margin: 0; border-radius: 0; }
                li > a:hover {
                    color: rgba(0,0,0,1);
                }
                li {  }

                li.active > a,
                li.active > a:hover,
                li.active > a:focus {
                  i { color: #cb2b45; }
                  color: #000;
                  cursor: default;
                  background: #fff;
                  box-shadow: 1px 0px 3px rgba(0,0,0,0.15);
                  border-bottom-color: transparent;
                }
                a:hover {

                }

                .nav { background: mix(rgba(230,120,23,0.6), #666); }
                a {
                    color: rgba(0,0,0,0.6);
                    padding-left: 20px; padding-right: 22px;
                    font-size: 18px; background: #fff;
                    transition: 0.3s ease-in all;
                    background: rgba(0, 0, 0, 0.1);
                    font-weight: 400;
                    i {
                        font-size: 16px;
                        margin-right: 10px;
                    }
                }
            }
        }

        .box-icons {
            width: 1170px;
            margin-right:-15px;
            zoom: 1;
            text-ailgn: center;
            overflow: hidden;
            margin-top: 25px;

            .item {
                opacity: 0.8;
                float: left;
                width: 220px;
                margin-right: 10px;
                height: 165px;
                text-align: center;
                transition: 0.4s ease-in all;

                a { text-align: center;
                    text-decoration: none;
                    opacity: 1;
                    b {
                        line-height: 1.2;
                        font-weight: 600;
                        font-size: 14px;
                        color: rgba(0,0,0,0.5);
                        display: block;
                        padding: 5px 22px 5px 22px;
                        text-align: center;
                    }

                }
            }

            .item:hover {
                opacity: 1;
            }

        }

        .box-search {

            position: relative;

            span {
                padding: 8px 15px 8px 15px;
                background: rgba(0,0,0,0.1);
                float: left;
                min-height: 44px;
                font-size: 20px;
                font-weight: 400;
                color: #5d5d5d;
            }

            input {
                border-left: 3px solid #ccc;
                position: relative;
                float: left;
                min-height: 44px;
                padding: 5px 12px 5px 15px;
                font-size: 16px;
                font-weight: 500;
                width: 590px;
                border-bottom-right-radius: 22px;
                border-top-right-radius: 22px;
                border: 2px solid rgba(0,0,0,0.1);

            }

            b {
                position: relative;
                display: block;
                width: 44px;
                height: 44px;
                border-top: 20px solid transparent;
                border-bottom: 20px solid transparent;
                float: left;
                border-left: 20px solid green;
            }

            .btn-search {
                position: relative;
                float: right;
                background: #cccccc;
                padding-top: 8px;
                transition: 0.3s linear all;
                padding-bottom: 8px;
                color: #d4d4d4;
                font-weight: 500;
                font-family: 'Open Sans';
                width: 150px;
                text-align: center;
                color: #666;
                cursor: pointer;
                font-size: 20px;

                i {
                    color:#fff;
                    margin-right: 10px;
                    font-size: 20px;
                }
            }

            .btn-search:hover {
                background: #e3445e;
                color: #fff;
                text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
            }

        }

        .btn-catalog {
            margin-right: 20px;
            position: relative;
            float: left;
            background: #cb2b45;
            padding-top: 8px;
            padding-bottom: 8px;
            font-weight: 600;
            font-family: 'Open Sans';
            width: 230px;
            text-align: center;
            color: #fff;
            font-size: 20px;
            transition: 0.4s ease-in all;
            cursor: pointer;

            i {
                color:#fff;
                margin-left: 10px;
                font-size: 20px;
            }

        }

        .btn-catalog:hover {
            background: #e3445e;
        }
    }

    .catalog-grid {
        margin-top: 30px;
        background: rgba(255,255,255,0.9);

        .line {
            width: 100%;
            display: block;
            margin-top: 30px;
            overflow: hidden;
            height: 380px;
            .item:last-child {
                margin-right: 0 !important;
                margin-left: 2px;
            }

            .item {
                float: left;
                margin-right: 17px;
                width: 220px;
                position: relative;
                text-align:center;
                height: 380px;

                span {
                    display: block;
                    color: #696969;
                    font-size: 14px;
                    font-weight: 600;
                    padding: 15px;
                    border-bottom: 1px dotted gray;
                    margin-bottom: 10px;
                }

                .retail {
                     color: #696969;
                     opacity: 0.85;
                     font-size:16px;
                     b {
                        font-size:20px;
                        font-weight: 600;
                     }
                }

                .online {
                     color: #696969;
                     opacity: 1;
                     font-size:16px;
                     b {
                        font-size:20px;
                        font-weight: 600;
                     }
                }

                .spinner {
                    border: 1px dotted #ccc;
                    width:100px;
                    position: absolute;
                    bottom: 0;

                    font-size: 17px;
                    font-weight: 600;
                    color: #000;
                    text-align: center;

                    .left {
                        position: absolute;
                        left: 0px;
                    }

                    i { opacity: 0.3; font-size: 18px; color: #666; padding: 10px; cursor: pointer; bottom: 5px;
                        transition: 0.3s ease-in all; }
                    i:hover {
                        opacity: 1;
                    }

                    .right{
                    position: absolute;
                    right: 0px;
                    }

                    input {
                        text-align: center;
                        min-height: 48px;
                        border: 0;
                        width: 100px;
                        float: left;
                    }

                }

                .btn-cart {
                    position: absolute;
                    bottom: 0;
                    background: #5698c9;
                    right: 0;
                    font-size: 17px;
                    font-weight: 600;
                    color: #fff;
                    cursor: pointer;
                    padding: 12px;
                    transition: 0.4s ease-in-out all;
                }

                .btn-cart:hover {
                    background: #72b3e3;
                    text-shadow: 1px 1px 3px rgba(0,0,0,0.4)
                }
            }
        }
    }

    .news {

        position: relative;

        h3 {
            display: block; position: absolute;
            margin:0; top: -30px; left: 0px;
            font-size: 18px; text-transform: uppercase;
        }

        .item {
            margin-top: 10px;
            position: relative;
            display: block;
            width: 100%;
            height: 110px;

            img {
                position: absolute;
                left: 0px;
                top: 0px;
            }

            div {
                position: absolute;
                width: 430px;
                height: 110px;
                right: 20px;
                top: 0;
                background: #fff;
                border: 1px solid #ccc;
                display: block;
                padding: 10px;

                p {
                    color: #333;
                    font-size: 14px;
                    font-weight: 600;
                }

                i { font-style: normal;
                    color: #b8b8b8;
                    position: absolute;
                    left: 10px;
                    bottom: 10px;
                }
            }
        }
    }
    .navbar-inverse .navbar-nav > .active > a {
      background-color: #2484b4;
    }

    .info-block {
        margin-top: 10px;
        padding: 20px;
        height: 230px;
        width: 97%;
        background: @color-blue-2;
        border-radius: 3px;
        color: #fff;
        position: relative;

        .phone {
            position: absolute; top: 65px; right: 15px; width: 55%; height: 70px;
            padding-left: 80px; background: url(../images/phone.png) left center no-repeat;

            span {
                display: block;
                font-size: 16px;
                font-weight: 300;
            }

            i {
                font-style: normal;
                font-size: 32px;
            }
        }

        b { font-weight: 600px; font-size: 18px; margin-bottom: 15px; display: block; text-align: left; }
        p { font-weight: 500px; font-size: 16px; text-align: left; }

        .links {
            position: absolute; right: 20px; bottom: 20px; width: 70%;
            text-align: right;
        }

        .links a { color: #fff; margin-left: 15px; }
    }


    .adv-block {
        width: 550px;

        .carousel-indicators {
            bottom: 20px; right: 30px;
        }
    }


    .good-block {
        height: 360px;
        width: 360px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.3);

        b { text-align: left;
            line-height: 1.2;
            display: block;
            font-size: 18px;
            font-weight: 400; }

        .glyphicon-chevron-left {
            left: 30%;
        }
        .glyphicon-chevron-right {
            right: 30%;
        }

        .carousel-caption {
            position: absolute;
            bottom: 0; left: 0;
            height: 120px;
            width: 100%;
            padding: 10px 15px;
        }

        .btn-go {
            background: rgba(51,51,51,0.75);
            display:block;
            position: absolute;
            font-size: 14px;
            padding: 5px 14px;
            right: 15px;
            color: #fff;
            border-radius: 3px;
            box-shadow: 0 2px 6px rgba(0,0,0,0.4);
            bottom: 10px;
        }

        .btn-go:hover {
           background: rgba(51,51,51,1);
           text-decoration: none;
        }

        .total {
            position: absolute;
            bottom: 15px;
            left: 15px;
            padding-left: 30px;
            background: url(../images/basket.png) left center no-repeat;
            color: #000;
            font-weight: 400;
            font-size: 16px;
        }

    }

    .footer {
        height:345px;
        width: 100%;
        padding: 40px 60px;
        background: #e5e5e5;
        position: relative;
         .phone {
            position: absolute; top: 45px; right: 100px; height: 70px;

            span {
                display: block;
                font-size: 16px;
                font-weight: 300;
            }

            i {
                font-style: normal;
                font-size: 32px;
            }
        }

        ul {
            display: block;
            float: left;
            width: 25%;
            list-style: none;

            li:first-child {
                margin-bottom: 10px;
            }

            li {
                margin-bottom: 4px;
                b {
                    font-size: 14px;
                    margin-bottom: 10px;
                }
                a {
                    color: #333333;
                    text-decoration: none;
                    font-size: 13px;
                }
                a:hover {
                text-decoration: underline
                 }
            }

        }
    }

    #good-block-1 {
        .carousel-caption {
            background: @color-blue-block;
        }
    }

    #good-block-2 {
        .carousel-caption {
            background: @color-green-block;
        }
    }

    #good-block-3 {
        .carousel-caption {
            background: @color-orange-block;
        }
    }

    #middle-block { margin-top: 50px; }

    .header {
        width: 100%;
        height: 140px;
        position: relative;

        .logo {
            position: absolute;
            top: 45px;
            left: 45px;
            height:48px;
            width: 245px;
            background: url(../images/logo.png);
        }
    }
