
    /*
        LESS/CSS for Teplomaster
        compile to css: http://less2css.org/
        im@andreystarkov.ru
    */

    @import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic);
    @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic);

    @color-red: rgb(242,117,107);
    @color-green: rgb(140,188,42);
    @color-blue: rgb(0,113,170);
    @color-orange: rgb(255,161,21);
    @color-pink: #cb2b45;
    @color-green-block: rgba(138,189,14,0.8);
    @color-orange-block: rgba(230,120,23,0.8);

    .container { width: 1170px !important;
        margin-left: auto;
        margin-right: auto;
        .row {
            width: 1170px !important;
            margin: 0 auto;
        }
    }

    body {
        h1,h2,h3,p { font-family: 'Open Sans'; }
        font-family: 'Open Sans';
        background: url(../images/bg.jpg) top center no-repeat;
        padding-bottom: 100px;
        a {
            transition: 0.4s ease-in all;
        }
    }

    .nav-tabs { border-bottom: 3px solid #000; }

    .color-red {
        background: fade(@color-red,50%);
        a:hover { background: fade(@color-red,40%); }
        a.active { background: fade(@color-red,50%); }
        .active>a { background: fade(@color-red,50%); }
    }

    .color-green {
        background: fade(@color-green,50%);
        a:hover { background: fade(@color-green,40%); }
        a.active { background: fade(@color-green,50%); }
        .active>a { background: fade(@color-green,50%); }
    }

    .color-blue {
        background: fade(@color-blue,50%);
        a { color: #000; }
        a:hover { background: fade(@color-blue,40%); }
        a.active { background: fade(@color-blue,50%); }
        .active>a { background: fade(@color-blue,50%); }
    }

    .top-menu {

        li {
            a {
                padding-top: 14px;
            }
        }

        height: 45px;
        width: 1170px;
        border-radius: 0px;
        .basket:hover {
            background: url(../images/basket-big.png) 10px center no-repeat, rgba(255,255,255,0.3);
            box-shadow: -1px 0 3px rgba(0,0,0,0.1)
        }

        .basket {
            font-family: 'PT Sans';
            padding-top: 4px;
            position: absolute;
            right: 0;
            top: 0;
            cursor: pointer;
            width: 170px;
            height: 100%;
            transition: 0.3s ease-in all;
            padding-left: 45px;
            background: url(../images/basket-big.png) 10px center no-repeat;

            b { display: block; font-weight: 600; font-size: 14px; }
            i { font-style: normal; font-size: 14px; }

            img { position: absolute; right:-1px; top: -1px;
                height: 50px; }
        }

        a {
            color: #222;
            font-size:14px;
            font-weight:500;
        }

    }

    .three-sliders {

        .row {

            text-align: center;
            width: 1170px;
            margin-left: 0;
            margin-right: 0;

            .right {
                right: 4px;
            }

            .carousel-control {
                width: 60px;
                height: 60px;
                background: rgba(0,0,0,0.4);
                top: 209px;

                .fa {
                    margin-top:4px;
                    text-align: center;

                    font-size: 45px;
                    padding: 0px;
                    display: block;

                }

            }

            .col-xs-4 {

                padding-left: 0;
                width: 385px;
                padding-right:0;
                margin-right: 7px;

               .good-block {
                    height: 382px;
                    width: 384px;

                    b {
                        text-align: left;
                        line-height: 1.2;
                        display: block;
                        font-size: 18px;
                        font-weight: 400;
                    }

                    .carousel-caption {
                        position: absolute;
                        bottom: 0; left: 0;
                        height: 120px;
                        width: 100%;
                        padding: 10px 15px;
                        // text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
                    }

                    .btn-go {
                        background: rgba(51,51,51,0.75);
                        display:block;
                        position: absolute;
                        font-size: 14px;
                        padding: 5px 14px;
                        right: 15px;
                        color: #fff;
                        border-radius: 3px;
                        bottom: 10px;
                    }

                    .btn-go:hover {
                       background: rgba(51,51,51,1);
                       text-decoration: none;
                    }

                    .total {
                        position: absolute;
                        bottom: 15px;
                        left: 15px;
                        padding-left: 30px;
                        background: url(../images/basket.png) left center no-repeat;
                        color: #000;
                        font-weight: 600;
                        font-size: 16px;
                    }

                }

            }

            .col-xs-4:last-child {
                margin-right: 0;
                margin-left: 1px;
            }

            ul {

                .col-xs-2:first-child {
                    padding-left: 0px;
                }

            }
        }
    }

    .box-header {

        position: relative;
        height: 240px;
        background: rgba(255,255,255,0.8);

        .btn-catalog.active {
            background: @color-pink;
        }

        .popup-catalog {

            padding-top: 30px;
            display: none;
            position: absolute;
            z-index: 60;
            min-width: 450px;
            min-height: 150px;
            background: #fff;
            left: 0;
            padding: 0px;
            top: 55px;
            box-shadow: 0 3px 18px rgba(0,0,0,0.25);

            .nav {

                border-bottom: 0;

                li {
                    a {
                        border: 0; margin: 0; border-radius: 0;
                        opacity: 0.6;
                        font-size: 16px;
                        text-decoration: underline;
                        i {
                            width: 14px; height: 14px;
                            border-radius: 12px;
                            color:rgba(0,0,0,0.2);
                            background: rgba(0,0,0,0.3);
                        }
                    }
                }

                li > a:hover {
                    text-decoration: none;
                    color: rgba(0,0,0,1);
                    opacity: 1;
                }

                li.active > a,
                li.active > a:hover,
                li.active > a:focus {
                    text-decoration: none;
                    opacity: 1;
                  i {
                      color: @color-pink;
                      background: @color-pink;
                  }
                  color: #000;
                  cursor: default;
                  background: #fff;
                  box-shadow: inset 0 0 0 rgba(0,0,0,0);
                }

                a {
                    color: rgba(0,0,0,0.6);
                    padding-left: 20px; padding-right: 22px;
                    font-size: 16px; background: #fff;
                    transition: 0.3s ease-in all;

                    font-weight: 400;
                    i {
                        font-size: 16px;
                        margin-right: 10px;
                        color: rgba(0,0,0,0.4);
                    }
                }
            }

            .accordion {
                padding-bottom: 10px;
                margin-top: 15px;
                margin-bottom:15px;

                dd a:hover {
                    // background: fade(mix(rgba(0,0,0,0.5), #fff), 35%);
                    text-decoration: underline;
                    color: black;
                }

                dd a {
                    padding-left: 15px;
                    line-height: 1.1;
                    font-size: 16px;
                    color: rgba(0,0,0,0.8);
                    font-weight: 500;
                    transition: 0.5s ease-in all;
                }

                dd a i { color: rgba(0,0,0,0.8); }

                dt a i {
                    margin-right: 15px;
                    background: rgba(0,0,0,0.2);
                    color: #fff;
                    border: 1px dashed rgba(0,0,0,0.2);
                }
                dt a {
                    font-weight: 600;
                    background: url(../images/plus.png) 15px center no-repeat;
                }
                dt a.active {
                    background: url(../images/minus.png) 15px center no-repeat;
                }
                dt a:hover {

                }

                dt, dd {

                    border-bottom: 0;

                    a:last-child { border: 0 !important; }

                    a {
                        display: block;
                        padding: 5px 45px 6px 50px;
                        font-size: 16px;
                        text-decoration: none;

                        transition: 0.35s ease-in all;
                        color: #323433;
                        i {
                            padding: 3px 5px 1px 5px; display: inline-block;
                            float: left; font-size: 16px; margin-right: 10px;
                            background: transparent; color: #666;
                            border-radius: 15px; transition: 1s ease-in all;
                        }

                        .happy i {
                            color: #fff;
                        }
                    }

                    a:hover {
                        // box-shadow: inset 0 -0px 6px rgba(0,0,0,0.1);
                        // color: #000;
                    }

                    a.active {
                        box-shadow: inset(0,0,0,0.15);
                        color: #000;

                        // text-shadow: 1px 2px 3px rgba(0,0,0,0.35);
                        i { color: #fff;
                             border: 1px solid rgba(0,0,0,0.1);
                        }
                    }
                }

                dd {
                    .parent {
                        // background: fade(mix(@color-blue, #000), 15%);
                        transition: 0.3s ease-in all;
                        i {
                            margin-top: -3px;
                        }
                    }

                        border-top: 0;
                        font-size: 16px;

                    &:last-of-type {
                        border-top: 1px solid white;
                        position: relative;
                        top: -1px;
                   }
                }
            }

        }

        .breadcrumb {
            margin-top: 10px;
            background: rgba(0,0,0,0) !important;
            a {
                margin-right: 5px;
                margin-left: 5px;
                font-size: 16px;
                color: #666;
                text-decoration: underline;
            }
            a:hover {
                color: @color-pink;
            }
        }

        .box-icons {
            width: 1170px;
            margin-right:-15px;
            zoom: 1;
            text-ailgn: center;
            overflow: hidden;
            margin-top: 35px;

            .item {
                opacity: 0.8;
                float: left;
                width: 220px;
                margin-right: 10px;
                height: 165px;
                text-align: center;
                transition: 0.4s ease-in all;

                a { text-align: center;
                    text-decoration: none;
                    opacity: 1;
                    b {
                        line-height: 1.2;
                        font-weight: 600;
                        font-size: 14px;
                        color: rgba(0,0,0,0.5);
                        display: block;
                        padding: 5px 22px 5px 22px;
                        text-align: center;
                    }

                }
            }

            .item:hover {
                opacity: 1;
            }

        }

        .box-search {
            min-height:43px;
            position: relative;
            margin-left: 240px;
            input:focus {
                outline-width: 0;
            }
            .field-corner {
                height: 43px;
                width:20px;
                background:url('../images/field-right.png');
                position: absolute;
                top:0; right: 175px;
                z-index: 6;
            }
            span {
                padding: 12px 15px 6px 15px;
                background: rgba(0,0,0,0.15);
                float: left;
                min-height: 43px;
                font-size: 14px;
                font-weight: 400;
                color: #5d5d5d;
            }

            input {
                border-left: 3px solid #ccc;
                position: relative;
                float: left;
                min-height: 43px;
                padding: 5px 12px 5px 15px;
                font-size: 16px;
                font-weight: 500;
                width: 610px;
                background: url(../images/field-bg.png) top left repeat-x;
                border: 0;

            }

            b {
                position: relative;
                display: block;
                width: 44px;
                height: 44px;
                border-top: 20px solid transparent;
                border-bottom: 20px solid transparent;
                float: left;
                border-left: 20px solid green;
            }

            .btn-search {
                margin-right: 0px;
                position: relative;
                float: right;
                min-height: 43px;
                background: #cccccc;
                padding-top: 12px;
                transition: 0.3s linear all;
                padding-bottom: 8px;
                color: #d4d4d4;
                font-weight: 500;
                font-family: 'Open Sans';
                width: 150px;
                text-align: center;
                color: #666;
                cursor: pointer;


                i {
                    color:#fff;
                    margin-right: 10px;
                    font-size: 17px;
                }
            }

            .btn-search:hover {
                background: #d6d6d6;
            }

        }

        .btn-catalog {
            margin-right: 20px;
            position: relative;
            float: left;
            background: #cb2b45;
            padding-top: 12px;
            padding-bottom: 8px;
            font-weight: 600;
            font-family: 'Open Sans';
            width: 230px;
            min-height: 43px;
            text-align: center;
            color: #fff;
            font-size: 16px;
            transition: 0.4s ease-in all;
            cursor: pointer;

            i {
                color:#fff;
                padding-top: 2px;
                margin-left: 20px;
                font-size: 16px;
            }

        }

        .btn-catalog:hover {
            background: #e3445e;
        }
    }

    .catalog-detail {
        width: 100%;
        min-height: 450px;
        padding: 10px;
        h1 {
            margin-top:0;
            padding-top:0;
            font-weight: 600;
            font-size: 26px;
            margin-bottom: 30px;
        }

        i { font-style: normal; }

        .image {

            position: relative;
            float: left;
            width: 360px;
            min-height: 360px;
            vertical-align:middle;
            img {
                vertical-align:middle;
            }

            border: 1px solid #ccc;
            margin-right: 30px;

            .articul { position: absolute;
                left: 0px; bottom: -40px; }
        }
        .info {
            float: left;
            zoom: 1;
            width: 670px;
            overflow: hidden;
            .cost {
                 zoom: 1;
                 overflow: hidden;
                .online {
                    float: left;
                    position: relative;
                    width: 250px;
                    padding: 10px 15px 10px 15px;
                    background: fade(@color-red, 50%);
                    font-size: 18px;
                    i {
                        display: block;
                        font-weight: 600;

                    }
                    span {
                       color: fade(#000, 80%);
                       font-size: 35px;
                       font-weight: 600;
                    }
                    margin-right: 20px;
                }
                .retail {
                    float: left;
                    position: relative;
                    width: 250px;
                    padding: 10px 15px 10px 15px;
                    // background: fade(#000, 10%);
                    font-size: 18px;
                    i {
                        display: block;
                        font-weight: 600;

                    }
                }
                span {
                   color: fade(#000, 80%);
                   font-size: 35px;
                   font-weight: 600;
                }
            }

           .count {
                position: relative;
                margin-top: 20px;
                height: 50px;

                b {
                    float: left;
                    display: block;
                    color: fade(#000, 60%);
                    padding-top: 12px;
                    font-weight: 500;
                    margin-left: 20px;
                    font-size: 16px;
                }
                .spinner {
                    position: relative;
                    width: 250px;
                    float: left;
                    vertical-align: middle;

                    .fa {
                        opacity: 0.6;
                        transition: 0.3s ease all;
                        cursor: pointer;
                        padding: 10px 15px 10px 15px;
                        position: absolute;
                        height: 45px;
                        width: 45px;
                        text-align: center;
                        font-size: 25px;
                        color: rgba(0,0,0,0.5);
                    }

                    .fa:hover {
                        color: #000;
                    }

                    .left {
                        border-right: 1px solid rgba(0,0,0,0.1);
                        left: 0; top: 0;
                    }
                    .right {
                        border-left: 1px solid rgba(0,0,0,0.1);
                        right: 0; top: 0;
                    }
                    input {
                        width: 100%;
                        font-size: 20px;
                        font-weight: 600;
                        text-align:center;
                        border: 1px solid rgba(0,0,0,0.15);
                        height: 45px;
                    }
                }
            }

            .choose {

                width:500px;
                height: 137px;
                margin-top: 10px;

                b { display: block; margin-bottom: 10px; }

                .point {
                    width: 250px;
                    height: 45px;
                    float: left;

                    input {
                        width: 32px;
                        height: 32px;
                        float: left;
                        transition: 0.5s ease-in all;
                        cursor: pointer;
                    }

                    label {
                            float: left;
                            line-height: 1;
                            font-size: 16px;
                            font-weight: 500;
                            padding: 12px 15px 0px 15px;

                    }
                    input:checked::before,
                    input[type="checkbox"] {
                        position:absolute;
                        background: #fff;
                        width: 35px;
                        height: 35px;
                    }

                    input:checked,
                    input[type="checkbox"] + label::before {
                        content: url('../images/checked.png');

                    }

                    input[type="checkbox"]:checked + label::before {
                        content: url('../images/checked.png');
                    }
                }
            }

             .btn-cart {
                position: relative;
                background: #5698c9;
                font-size: 19px;
                width: 240px;
                text-align:center;
                font-weight: 600;
                color: #fff;
                cursor: pointer;
                padding: 10px;
                transition: 0.4s ease-in-out all;
            }

            .btn-cart:hover {
                background: #72b3e3;
                text-shadow: 1px 1px 3px rgba(0,0,0,0.4)
            }

        }

        .description {
            h2 { marin-top: 20px; font-size: 26px; margin-bottom: 20px; }
            p { text-indent: 15px; line-height: 1.6; font-size: 16px; }
            min-height: 200px;
            position: relative;
            float: left;
            display: block;
            margin-top: 30px;
            width: 100%;
        }

    }

    .catalog-grid {
        margin-top: 30px;

        .line {
            width: 100%;
            display: block;
            margin-top: 30px;
            overflow: hidden;
            height: 380px;

            .item:last-child {
                margin-right: 0 !important;
                margin-left: 2px;
            }

            .item {

                background: rgba(255,255,255,0.9);
                border: 1px solid #a2c3db;
                img { cursor: pointer; }
                float: left;
                margin-right: 17px;
                width: 220px;
                position: relative;
                text-align:center;
                height: 380px;

                span {
                    display: block;
                    color: #696969;
                    font-size: 14px;
                    font-weight: 600;
                    padding: 15px;
                    border-bottom: 1px solid #a2c3db;
                    margin-bottom: 10px;

                }

                .retail {
                     text-align: left;
                     padding-left: 30px;
                     color: #696969;
                     opacity: 0.85;
                     font-size:14px;
                     b {
                        font-size:20px;
                        font-weight: 600;
                     }
                }

                .online {
                     padding-top: 3px;
                     text-align: left;
                     padding-left: 30px;
                     color: #696969;
                     opacity: 1;
                     font-size:16px;
                     b {
                        font-size:20px;
                        font-weight: 600;
                     }
                }

                .spinner {
                    border: 1px solid #5698c9;
                    width:110px;
                    max-height: 42px;
                    position: absolute;
                    bottom: 0;

                    font-weight: 600;
                    color: #000;
                    text-align: center;

                    .left {
                        position: absolute;
                        left: 0px;
                    }

                    i { opacity: 0.3;
                        font-size: 22px;
                        color: #666;
                        padding: 6px 10px;
                        cursor: pointer;
                        bottom: 0px;
                        transition: 0.3s ease-in all;
                    }

                    i:hover {
                        opacity: 1;
                    }

                    .right{
                    position: absolute;
                    right: 0px;
                    }

                    input {
                        font-size: 17px;
                        text-align: center;
                        padding: 6px 12px;
                        border: 0;
                        width: 100%; max-height: 42px;
                        float: left;
                    }

                }

                .btn-cart {
                    position: absolute;
                    bottom: 0;
                    background: #5698c9;
                    right: 0;
                    font-size: 16px;
                    max-height: 42px;
                    font-weight: 600;
                    color: #fff;
                    cursor: pointer;
                    padding: 8px 13px;
                    transition: 0.4s ease-in-out all;
                }

                .btn-cart:hover {
                    background: #72b3e3;
                    text-shadow: 1px 1px 3px rgba(0,0,0,0.4)
                }
            }
        }
    }

    .news {

        position: relative;

        h3 {
            display: block; position: absolute;
            margin:0; top: -30px; left: 0px;
            font-size: 18px; text-transform: uppercase;
        }

        .item {
            margin-top: 10px;
            position: relative;
            display: block;
            width: 100%;
            height: 110px;

            img {
                position: absolute;
                left: 0px;
                top: 0px;
            }

            div {
                position: absolute;
                width: 440px;
                height: 110px;
                right: 20px;
                top: 0;
                background: rgba(255,255,255,0.9);
                border: 1px solid #ccc;
                display: block;
                padding: 10px;

                p {
                    color: #333;
                    font-size: 13px;
                    font-weight: 600;
                }

                i { font-style: normal;
                    color: #b8b8b8;
                    position: absolute;
                    left: 10px;
                    bottom: 10px;
                }
            }
        }
    }
    .navbar-inverse .navbar-nav > .active > a {
      background-color: #2484b4;
    }

    .info-block {
        margin-top: 10px;
        padding: 20px;
        height: 230px;
        width: 100%;
        background: fade(@color-blue, 80%);
        border-radius: 0;
        color: #fff;
        position: relative;

        .phone {
            position: absolute; top: 65px; right: 15px; width: 55%; height: 70px;
            padding-left: 80px; background: url(../images/phone.png) left center no-repeat;

            span {
                display: block;
                font-size: 16px;
                font-weight: 300;
            }

            i {
                font-style: normal;
                font-size: 32px;
            }
        }

        b { font-weight: 600px; margin-bottom: 15px; display: block; text-align: left; }
        p { font-weight: 500px; text-align: left; }

        .links {
            position: absolute; right: 20px; bottom: 20px; width: 70%;
            text-align: right;
        }

        .links a { color: #fff; margin-left: 15px; }
    }

    .adv-sliders {
        .carousel-control {
            display: none !important;
        }
    }
    .adv-block {
        .nivo-controlNav { display: none; }

        .carousel-indicators {
            bottom: 20px; right: 30px;
        }
    }



    .footer {
        height:345px;
        width: 100%;
        padding: 20px;
        padding-top: 30px;
        background: #e5e5e5;
        position: relative;

        .phone {
            position: absolute;
            top: 45px;
            right: 100px;
            height: 70px;

            span {
                display: block;
                font-size: 16px;
                font-weight: 300;
            }

            i {
                font-style: normal;
                font-size: 32px;
            }
        }

        ul {
            display: block;
            float: left;
            width: 25%;
            list-style: none;
            padding-left: 10px;
            li:first-child {
                margin-bottom: 10px;
            }

            li {
                margin-bottom: 4px;
                b {
                    font-size: 14px;
                    margin-bottom: 10px;
                }
                a {
                    color: #333333;
                    text-decoration: none;
                    font-size: 13px;
                }
                a:hover {
                text-decoration: underline
                 }
            }

        }
    }

    #detail { padding: 15px; margin-top: 10px; background: #fff; }
    #good-block-1 {
        .carousel-caption {
            background: fade(@color-blue,85%);
        }
    }

    #good-block-2 {
        .carousel-caption {
            background: fade(@color-green,85%);
        }
    }

    #good-block-3 {
        .carousel-caption {
            background: fade(@color-orange,85%);
        }
    }

    #middle-block { margin-top: 50px; width: 1170px; }

    .header {
        width: 100%;
        height: 140px;
        position: relative;

        .logo-robo {
            position: absolute;
            top: 20px;
            left: 45%;
            height:84px;
            width: 84px;
            background: url(../images/logo-robo.jpg);
        }

        .logo {
            position: absolute;
            top: 45px;
            left: 60px;
            height:48px;
            width: 245px;
            background: url(../images/logo.png);
        }

        .logo-metal {
            position: absolute;
            width: 277px;
            height: 52px;
            top: 45px;
            right: 45px;
            background: url(../images/logo-metal.png);
        }
    }
